
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* Larger than mobile */
@media (min-width: 320px) and (max-width:549px){
  html{font-size: 0.48em;}
  .top-bar{height:50px;}
  .wrap960{width:98%;}
  .logo-box{left:0;height:50px;width:80px;}
  .logo-box p{height:50px;}
  .nav-box{height:50px; width:100px;}
  .nav{font-size: 20px;}
  .nav a{top:10px;padding: 10px 10px;}
  .home-slide{min-height: 180px;}
  .para-slide{width:300px;font-size: 0.8em}
  .pre-para{padding-left: 5px;height: 50px;}
  .post-para{padding-right: 18px;line-height: 180px;}
  .team-container{height:400px;}
  .about-para{font-size: 10px;}
  .event_column{display: none;}
  .quotes{font-size: 10px;}
  .event-image{width: 0%;}
  .instruct{width:100%;}
  .event-content{min-height: auto;max-height:400px;}
  .info{width:100%;}
  .head-name{font-size: 2em;}
  .register-container{height:240px;}
  .foot{font-size: 10px;}
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) and (max-width:749px) {
  html{font-size: 0.6em;}
  .top-bar{height:50px;}
  .wrap960{width: 98%;}
  .logo-box{left: 0;height: 50px;width:100px;}
  .logo-box p{height:50px;}
  .nav-box{height:50px; width:432px;}
  .nav a{top:10px;padding: 16px 7px;}
  .home-slide{min-height: 300px;}
  .para-slide{width:480px;}
  .pre-para{padding-left: 5px;height: 50px;}
  .post-para{padding-right: 18px;line-height: 180px;}
  .team-container{height:320px;}
  .event_column{height:120px;}
  .event_column img{height:120px;}
  .eventhover{height:120px;}
  .event-hover-active{bottom: 120px;}
  .event-image{width: 0%;}
  .instruct{width:100%;}
  .event-content{height:400px;}
  .info{width:100%;}
  .head-name{font-size: 2em;}
  .register-container{height:240px;}
}

/* Larger than tablet */
@media (min-width: 750px) and (max-width:999px) {
html{font-size: 0.75em;}
.top-bar{height:60px;}
.wrap960{width: 97%;}
.logo-box{height:60px;width: 120px;}
.logo-box p{height:60px;}
.nav-box{height: 60px;width:500px;}
.nav a{top:10px;padding: 22px 10px;}
.home-slide{min-height: 450px;}
.para-slide{width: 650px;}
.pre-para{padding-left: 27px;height: 62px;}
.post-para{padding-right: 52px;line-height:220px; }
.event_column{height:150px;}
.event_column img{height:150px;}
.eventhover{height:150px;}
.event-hover-active{bottom: 150px;}
.event-image{background-size: contain !important;}
.head-name{font-size: 2em;}
.register-container{height:280px;}
}

/* Larger than desktop */
@media (min-width: 1000px) and (max-width:1199){
  .team-container{height:400px;}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
